

.container{
  min-height: 100%;
  margin: 0; 
  border: 0;
}
#theBox{
	height:100px;
	width:540px;
	text-align: center;
	border-radius: 10px;
  	margin: 0 auto; 
}
.box{
	width:150px; 
	height:150px; 
	border: 2px solid white;
	text-align: center;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	margin-left:10px;
	margin-right:10px;
	background-color: #d3d3d3;
}


.red{
	background-color: #gray;
}

.blue{
	background-color: #gray;
}

p {
	display: table-cell; 
	width: 150px; 
	height: 150px; 
	vertical-align: middle; 
	text-align: center; 
	font-family: arial; 
	font-size: 35pt; 
	color: black;
}

/*the usual suspects begin*/
.float_right{
	float: right;
}
.float_left{
	float: left;
}
/*needed to cause auto expansion of container div*/
.clearboth{
	clear: both;
}
/*the usual suspects end*/
html {
    height: 100%;
    }

body {
    height: 100%;
    }